
<aside>

  <div class="list-group filter-wrap">
    <article class="list-group-item">
      <header class="filter-header">

        <a href="#" data-toggle="collapse" data-target="#collapse1" aria-expanded="false" class="collapsed">
          <i class="icon-action fa fa-chevron-down"></i>
          <div class="media text-muted">
            <img data-src="holder.js/32x32?theme=thumb&amp;bg=007bff&amp;fg=007bff&amp;size=1" alt="32x32"
              class="mr-2 rounded" style="width: 32px; height: 32px;"
              src="data:image/svg+xml;charset=UTF-8,%3Csvg%20width%3D%2232%22%20height%3D%2232%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%2032%2032%22%20preserveAspectRatio%3D%22none%22%3E%3Cdefs%3E%3Cstyle%20type%3D%22text%2Fcss%22%3E%23holder_16fae2458bc%20text%20%7B%20fill%3A%23007bff%3Bfont-weight%3Abold%3Bfont-family%3AArial%2C%20Helvetica%2C%20Open%20Sans%2C%20sans-serif%2C%20monospace%3Bfont-size%3A2pt%20%7D%20%3C%2Fstyle%3E%3C%2Fdefs%3E%3Cg%20id%3D%22holder_16fae2458bc%22%3E%3Crect%20width%3D%2232%22%20height%3D%2232%22%20fill%3D%22%23007bff%22%3E%3C%2Frect%3E%3Cg%3E%3Ctext%20x%3D%2211.5390625%22%20y%3D%2216.9%22%3E32x32%3C%2Ftext%3E%3C%2Fg%3E%3C%2Fg%3E%3C%2Fsvg%3E"
              data-holder-rendered="true" />
            <p class="media-body pb-3 mb-0 small lh-125">
              <strong class="d-block text-gray-dark">Simple Credit Card Interest Calculation</strong>

            </p>
          </div>

        </a>

      </header>
      <div class="filter-content collapse" id="collapse1">
        
        <div class="form-group">
          <form id="interestCalculatorForm">
            
              <div name="url">/api/finance/interest-calculate-cc</div>
              <div class="input-group col-sm-4">
                  <div class="col-sm-3">
                    <input type="text" class="form-control" placeholder="amount" name="amount">
                    <div class="input-group col-sm-4-append">
        
                    </div>
                  </div>
                </div>
                <div class="input-group col-sm-4">
                  <div class="col-sm-3">
                    <input type="text" class="form-control" placeholder="apr" name="apr">
                    <div class="input-group col-sm-4-append">
        
                    </div>
                  </div>
                </div>
                <div class="input-group col-sm-4">
                  <div class="col-sm-3">
                    <input type="text" class="form-control" placeholder="period" name="period">
                    <div class="input-group col-sm-4-append">
        
                    </div>
                  </div>
                </div>
                <div class="input-group col-sm-4">
                  <div class="col-sm-3">
                    <button onClick="interestFormSubmit()" class="btn btn-primary" type="button">REQUEST</button>
                  </div>
                </div>

                <label for="exampleFormControlTextarea3">Response</label>
                <textarea class="form-control" id="exampleFormControlTextarea3" rows="7" name="textarea" readonly></textarea>
          </form>


          </div>


      </div>

    </article>
  </div>
  <!-- collapse -filter-content  .// -->

  <!-- card.// -->

</aside>

<script src="/js/api-scripts/financial.js"></script>