<div class="about-container">
    <div class="jumbotron">
        <div class="container">
          <div class="row centered">
            <h1 class="display-4">Contact Me</h1>

          </div>
          <div class="row centered">
            <div class="col-lg-6">
                <img class="rounded-circle" src="https://media-exp1.licdn.com/dms/image/C4E03AQFfudUqYzZt0A/profile-displayphoto-shrink_200_200/0?e=1584576000&v=beta&t=IP_uD7xjHXqg8JB5V6qG1NEgPdDCfetWvuArMRCR_q4" alt="Generic placeholder image" width="120" height="120">
                <h3>Daniel Ward</h3>
                <ul>
                    <li>Mobile: 083 270 0015</li>
                    <li>Email: therealdanielward@gmail.com</li>
                    <li>Location: South Africa</li>
                </ul>
              </div>
          </div>
        </div>
      </div>
    </div>