<div class="api-container">
    <div class="my-3 p-3 bg-white rounded box-shadow">
        <select class="custom-select d-block w-100" id="api-select" required="">
            <option value="">Choose...</option>
            <option value="financial">Financial</option>
          </select>
            <div id="api-gather">
                <div class="display-4">Choose an API from the drop down..</div>
            </div>
        <!-- <small class="d-block text-right mt-3">
          <a href="#">All APIs</a>
        </small> -->
      </div>
</div>

